/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 may 2024, 23:24:54
    Author     : rolan
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}